<aside class="sidebar" id="sidebar">
  <h1 class="title">Connect <span>OP</span></h1>

  <nav>
    <h3>Menu principal</h3>

    <a [routerLink]="['/connectop']"><i class="fa-solid fa-gauge"></i> Dashboard</a>
    <a [routerLink]="['operacoes']"><i class="fa-solid fa-table-columns"></i> Operações</a>
  </nav>

  <nav>
    <h3>Outros</h3>

    <a [routerLink]="['meu-perfil']"><i class="fa-solid fa-id-badge"></i> Meu Perfil</a>
    <a [routerLink]="['ajuda']"><i class="fa-solid fa-circle-info"></i> Ajuda</a>
    <a [routerLink]="['']"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
  </nav>

  <button class="btn-report-bug"><i class="fa-solid fa-bug"></i> Reportar Bug</button>
</aside>
