.sidebar {
  position: fixed;
  overflow-y: auto;
  width: 320px;
  height: 100vh;
  background: var(--black);
  padding-top: 56px;
  transition: left 0.3s ease;
  z-index: 1001;
  padding: 25px 30px;
}

.title {
  color: var(--white);
  margin-bottom: 2rem;
}

.title span {
  color: var(--blue);
}

.sidebar nav {
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  color: var(--grey);
  margin-bottom: 1rem;
}

.sidebar nav h3 {
  font-size: .9rem;
  text-transform: uppercase;
}

.sidebar nav a {
  padding: 12px;
  color: var(--grey);
  text-decoration: none;
  border-radius: 5px;
}

.sidebar nav a:hover {
  color: var(--white);
  background-color: var(--background);
}

.sidebar nav i,
.btn-report-bug i {
  margin-right: 5px;
}

.btn-report-bug {
  cursor: pointer;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--white);
  width: 100%;
}
